<!DOCUMENT html>
<html>
    <head>
        <title>Blogomir</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css"/>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog site</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/new">New post</a>
            </div>
        </div>
        
